@media (max-width: 480px) {
    * {
        display: block;
        width: 100%;
    }
}

@media (max-width: 768px) {
    * {
        width: 50%;
    }
}

@media (max-width: 1200px) {
    * {
        max-width: 1200px;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

html {
    scroll-behavior: smooth;
    letter-spacing: 2px;
    animation-name: slideUp;
    animation-duration: 1s;
}

body {
    margin: 0;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-direction: row;
    font-family: fantasy;
    background-color: rgb(0, 0, 0);
    size-adjust: 100%;
    border: 10px solid rgb(0, 0, 0);

    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.banner__img {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    margin-left: 10px;
    padding-bottom: 10px;

}

.banner__img h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-left: 10px;

}

.banner__dropdown {
    position: relative;
    display: inline-block;

}

.banner__dropdown-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
    margin-top: 30px;
    margin-right: 50px;
    background-color: #ffffff;
    color: rgb(75, 75, 75);
    font-size: 30px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    animation-name: slideUp;
    animation-duration: .5s;
}

.banner__content {
    display: none;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5%;
    flex-direction: row;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    font-style: bold;
    color: #777777;
    background-color: rgb(77, 77, 77);
    z-index: 1;
}

.banner__content a {
    display: block;
    padding: 5%;
    text-decoration: none;
    color: #ffffff;
    padding: auto;

}

.banner__content a:hover {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    background-position: center;
    align-items: center;

}

.banner__dropdown:hover .banner__content {
    display: block;
}

.banner__dropdown:hover .banner__dropdown-button {
    display: flex;
    justify-content: space-around;
    background-color: rgb(77, 77, 77);
    color: #ffffff;

}



#page_content-home,
#page_content-about,
#page_content-contact {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-direction: space-between;
    align-items: row;
    justify-content: center;
    color: rgb(255, 255, 255);
    margin: 20px;
    padding: 5%;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(34, 33, 33);


}

.contact_page-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding: auto;
    background-color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid rgb(0, 0, 0);
    border-radius: 50px;
    width: 50%;
    height: 50px;
    font-size: 25px;
    font-style: bold;
    color: #000;

}

.contact_page-button:hover {
    background-color: rgb(77, 77, 77);
    color: #ffffff;
    cursor: pointer;
    border-color: #ffffff;
    border: 10px solid #000;
}

.page_content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 20%;
    padding-bottom: 20%;
    background-color: rgb(0, 0, 0);

}

.page_content h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.languages {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: #000000;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0;
    margin-top: 5%;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;


}

.languages h3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    letter-spacing: 5px;

}

.languages li img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 30%;
    margin: 5%;

}

.languages li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: auto;
    margin: auto;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;

    font-family: fantasy;
    font-size: 30px;
    letter-spacing: 5px;

}

.footer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 10%;
    background-color: rgb(0, 0, 0);


}

.footer__aboutme {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding: auto;
    background-color: rgb(77, 77, 77);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid rgb(255, 255, 255);
    border-radius: 50px;
    width: 50%;
    height: 50px;
    color: #ffffff;
    font-size: 20px;
    font-style: bold;

}

.footer__aboutme:hover {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    cursor: pointer;
    border-color: #ffffff;
    border: 10px solid #777777;
}

.footer h6 {
    display: flex;
    justify-content: space-evenly;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    margin-top: 50px;
    padding: auto;
    font-size: 15px;

}


.footer__socials img {
    display: flex;
    justify-content: row;
    align-items: center;
    width: 100px;
    height: 100px;
    border: solid 5px #777777;
    border-radius: 0;

}

.footer__socials img:hover {
    cursor: pointer;
    border-color: #555555c3;

}